/Assignment-1/.idea/aws.xml
/BlackJack/.idea/aws.xml
/Assignment-1/.idea/codeStyles/codeStyleConfig.xml
/BlackJack/.idea/codeStyles/codeStyleConfig.xml
/Assignment-1/.idea/codeStyles/Project.xml
/BlackJack/.idea/codeStyles/Project.xml
/Assignment-1/.idea/shelf/Uncommitted_changes_before_Checkout_at_2_1_2023_8_09_PM_[Changes]/shelved.patch
/Assignment-1/.idea/shelf/Uncommitted_changes_before_Checkout_at_2_1_2023_8_09_PM_[Changes]1/shelved.patch
/Assignment-1/.idea/shelf/Uncommitted_changes_before_Checkout_at_2_4_2023_1_27_AM_[Changes]/shelved.patch
/Assignment-1/.idea/shelf/Uncommitted_changes_before_Checkout_at_2_4_2023_1_27_AM_[Changes]1/shelved.patch
/Assignment-1/.idea/shelf/Uncommitted_changes_before_Checkout_at_2_1_2023_8_09_PM__Changes_.xml
/Assignment-1/.idea/shelf/Uncommitted_changes_before_Checkout_at_2_1_2023_8_09_PM__Changes_1.xml
/Assignment-1/.idea/shelf/Uncommitted_changes_before_Checkout_at_2_4_2023_1_27_AM__Changes_.xml
/Assignment-1/.idea/vcs.xml
/Assignment-1/.idea/workspace.xml
/Assignment-1/.idea/shelf/Uncommitted_changes_before_Checkout_at_2_1_2023_8_09_PM_[Changes]/shelved.patch
/Assignment-1/.idea/shelf/Uncommitted_changes_before_Checkout_at_2_1_2023_8_09_PM_[Changes]1/shelved.patch
/Assignment-1/.idea/shelf/Uncommitted_changes_before_Checkout_at_2_4_2023_1_27_AM_[Changes]/shelved.patch
/Assignment-1/.idea/shelf/Uncommitted_changes_before_Checkout_at_2_4_2023_1_27_AM_[Changes]1/shelved.patch
